# Binaries
/bin/
/tmp/
*.exe
*.test
*.out

# Database
/data/
*.db
*.db-journal
*.db-shm
*.db-wal

# Env
.env
.env.local

# IDE
.vscode/
.idea/
.DS_Store

# Logs
*.log
diamonds.log

# templ generated
*_templ.go
*_templ.txt

# Temp
/tmp/
